header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  /* height: 200px; */
  background-color: #fff;
}
.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.earlybrite-logo {
  background-image: url("../../images/earlybritee.png");
  background-size: cover;
  object-fit: cover;
}
h1 {
  font-size: 3rem;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Estonia", cursive;
}
.school-logo {
  background-image: url("../../images/mec.png");
}
