header {
  position: sticky;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 20;
  font-family: "Nunito", sans-serif;
  background-image: linear-gradient(
    rgba(235, 110, 39, 0.3) rgba(0, 36, 139, 0.42)
  );
}
@media screen and (max-width: 893px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 462px) {
  h1 {
    font-size: 1.6rem;
    letter-spacing: none;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.3rem;
  }
}
.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.logo {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.earlybrite-logo {
  background-image: url("../../images/earlybritee.png");
  background-size: cover;
  object-fit: cover;
}
h1 {
  /* font-size: 3rem; */
  letter-spacing: 3px;
  text-align: center;
  /* font-family: "Estonia", cursive; */
}
.school-logo {
  background-image: url("../../images/mec.png");
}
